/* Banner */
#banner {
		background-image: url(../../images/back-to-school-top_640.jpg);	
    background-position: center center;
    background-size: cover;
    color: #000000;
    /* padding: 4em 0em 13em; */
    text-align: center;
		height: 200px;
}

    #banner :last-child {
        margin-bottom: 0;
    }

    #banner h2 {
        color: #000000;
        font-size: 2em;
        line-height: 1.25em;
        margin: 0 0 0.5em 0;
        padding: 0;
    }

    #banner p {
        font-size: 1.0em;
        margin-bottom: 1.75em;
    }

	
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#banner {
		/* padding: 4em 0em 13em; */
		height: 20%;
	}
		#banner h2 {
			font-size: 1em;
			line-height: 1.25em;			
		}
		#banner p {
			font-size: 0.5em;
		}
	}

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
	#banner {
		/* padding: 4em 0em 13em; */
		height: 20%;
	}
		#banner h1 {
			font-size: 1em;
			line-height: 1.25em;
		}
		#banner p {
			font-size: 0.5em;
		}
  }
  
  /* Medium devices (landscape tablets, 320px and up) */
  @media only screen and (min-width: 320px) {	
	#banner {
	/* 	padding: 0.4em 0em 5em; */
		height: 20%;
	}
		#banner h1 {
			font-size: 1em;
			line-height: .75em;
		}
		#banner p {
			font-size: 0.75em;
		}	
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {	
		#banner {
			background-image: url(../../images/back-to-school-top_1920.jpg);	
		/*	padding: 2em 0em 13em; */
			height: 200px;
		}
		#banner h1 {
			font-size: 1em;
			line-height: .75em;
		}
		#banner p {
			font-size: 1em;
		}
	* {font-size: 20px;}			
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {	
	#banner {
		background-image: url(../../images/back-to-school-top_1920.jpg);	
	/*	padding: 2em 0em 13em; */
		height: 200px;
	}
		#banner h1 {
			font-size: 1em;
			line-height: 0.75em;
		}
		#banner p {
			font-size: 0.75em;
		}	
  } 

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {			
		#banner {
			background-image: url(../../images/back-to-school-top_1920.jpg);	
		/*	padding: 4em 0em 13em; */
			height: 200px;
		}
		#banner h1 {
			font-size: 1.75em;
			line-height: 1.25em;
		}
		#banner p {
			font-size: 1.0em;
		}	

		#banner .styled-link {
			margin: 3px;
			background-color: lightgray;
			color: black;
		/*	padding: 5px 5px; */
			text-align: center; 
			display: inline-block;
			text-decoration: none;
			font: bold;
			border-radius: 15px;
			border: 1px solid black 
		}

		#banner .styled-link:hover {
			background-color: darkgray;
			color: white;
			cursor: pointer;
		}

  }
 
 